__pycache__/
*.pyc
*.egg-info/
dist/
build/
*.db
.coverage
.mypy_cache/
.ruff_cache/
.env
example_artifact/private_key.pem
example_artifact/private_key.pub.pem
example_artifact/public_key.pem
example_artifact/sealed_artifact.json
